.heading{
text-align: center;
background-image: url("../images/h_img.jpg");
height:1071px;
background-repeat: no-repeat;
width:1920px;
background-size: 100%;
width:100%;

}
#image{
    padding-top: 200px;

}
#heading1{
    color:"white"
}
#image2{
    padding-bottom: 20px;
}
h2{
    margin-top:0;
    padding-top:0;
}
#section1{
    padding-top: 3.5%;
    padding-bottom: 3.5%

}
 