.heading{
text-align: center;
background-image: url("../images/h_img.jpg");
height:1071px;
background-repeat: no-repeat;
width:1920px;
background-size: 100%;
width:100%;
t
}
#image{
    padding-top: 200px;

}
#heading1{
    color:"white"
}
#image2{
    padding-bottom: 20px;
}
 